@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="row">



            <div class="row">
                <div class="col">
                    @if (Model.Count() > 0)
                    {
                        <table>
                            <thead>
                                <tr>

                                    <th>Id</th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Isaprowed</th>
                                    <th>Date</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                            @foreach (var item in Model)
                            {

                                <tr>

                                    <td>@item.Id</td>
                                    <td>@item.Image</td>
                                    <td>@item.Title</td>
                                    <td>@item.isHome</td>
                                    <td>@item.isApproved</td>
                                    <td>@item.Id</td>

                                </tr>

                            }

                        </table>

                    }
                    else
                    {

                        <div class="alert alert-danger">

                            blog eklenmemei
                        </div>
                    }




                </div>




            </div>
        </div>

    </div>
