@model IEnumerable<BlogApp.Entity.Blog>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desciription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desciription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                
                <img src="~/img/@item.Image" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
              
                @Html.CheckBoxFor(modelItem => item.isApproved)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>



                <a class="btn btn-danger btn-sm" asp-controller="Delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <a href="Edit/@item.Id">Edit</a>
                <a href="Edit/@item.Id">updateoraddd</a>
                <a href="Delete/@item.Id">Delete</a>


            </td>
        </tr>
}
    </tbody>
</table>
